<section
    class="px-4 sm:px-8 py-10 lg:px-8 border-x-separator/50 border-x font-google"
>
    <div class="flex justify-between items-center">
        <div class="w-1/2">
            <p class="text-sm text-tertiary text-start">
                made with care by vignesh.
            </p>
        </div>
        <div
            class="w-1/2 animate-bounce text-sm text-tertiary text-end hover:text-green transition-colors duration-200"
        >
            <a href="#">↑ tp to the top ↑</a>
        </div>
    </div>
</section>
