---
import blogBefore from "../../assets/blog-before.png";
import blogBeforeWordy from "../../assets/blog-before-wordy.png";
import blogAfter from "../../assets/blog-after.png";
import blogAfterWordy from "../../assets/blog-after-wordy.png";
---

<div class="space-y-6">
    <div class="space-y-2">
        <span class="text-xs font-bold uppercase tracking-widest text-white/40"
            >Before</span
        >
        <div class="sm:flex gap-2">
            <img
                src={blogBefore.src}
                alt="Blog - Before"
                class="rounded border border-white/10"
            />
            <img
                src={blogBeforeWordy.src}
                alt="Blog - Before"
                class="rounded border border-white/10"
            />
        </div>
    </div>
    <div class="space-y-2">
        <span class="text-xs font-bold uppercase tracking-widest text-green"
            >After</span
        >
        <div class="sm:flex gap-2">
            <img
                src={blogAfter.src}
                alt="Blog - Before"
                class="rounded border border-white/10"
            />
            <img
                src={blogAfterWordy.src}
                alt="Blog - Before"
                class="rounded border border-white/10"
            />
        </div>
    </div>
</div>
