---
import movieboxdWithReviews from "../../assets/movieboxd-with-reviews.png";
---

<div>
    <img
        src={movieboxdWithReviews.src}
        alt="MovieBoxd with Reviews"
        class="rounded border border-white/10"
    />
</div>
